.row{
    display: flex;
    gap: 10px;
}
.row mat-form-field{
    width: 100%;
    padding-bottom: 20px;
}
.content{
    padding-top: 10px;
}
.action{
    padding: 0 25px 20px;
}

.action button{
    flex: 1;
}